AspNetTrainingClasses/AspNetTrainingClasses/Web References/gridviewfromwebservice/gvwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getProducts">
        <s:complexType />
      </s:element>
      <s:element name="getProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getProductsSoapIn">
    <wsdl:part name="parameters" element="tns:getProducts" />
  </wsdl:message>
  <wsdl:message name="getProductsSoapOut">
    <wsdl:part name="parameters" element="tns:getProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="gvwebserviceSoap">
    <wsdl:operation name="getProducts">
      <wsdl:input message="tns:getProductsSoapIn" />
      <wsdl:output message="tns:getProductsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="gvwebserviceSoap" type="tns:gvwebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="http://tempuri.org/getProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="gvwebserviceSoap12" type="tns:gvwebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProducts">
      <soap12:operation soapAction="http://tempuri.org/getProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gvwebservice">
    <wsdl:port name="gvwebserviceSoap" binding="tns:gvwebserviceSoap">
      <soap:address location="http://localhost/AspNetTrainingClasses/Assignments/Naveen/Web%20Services/gvwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="gvwebserviceSoap12" binding="tns:gvwebserviceSoap12">
      <soap12:address location="http://localhost/AspNetTrainingClasses/Assignments/Naveen/Web%20Services/gvwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>