trunk/AspNetTrainingClasses/AspNetTrainingClasses/Service References/CustServiceReference/CustomerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AspWCFProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AspWCFProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDetail" nillable="true" type="tns:CustomerDetail" />
</xs:schema>